@model AdminLTE3.Models.ASPEK

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ASPEK</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NAMA_ASPEK, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAMA_ASPEK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAMA_ASPEK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIBUAT_OLEH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIBUAT_OLEH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIBUAT_OLEH, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
    @Html.LabelFor(model => model.DIBUAT_PADA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8 input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right datepicker"
                   @Html.EditorFor(model => model.DIBUAT_PADA, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.DIBUAT_PADA, "", new { @class = "text-danger" })
        </div><br />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIUBAH_OLEH, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIUBAH_OLEH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIUBAH_OLEH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIUBAH_PADA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIUBAH_PADA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIUBAH_PADA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.STATUS_AKTIF, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.STATUS_AKTIF)
                @Html.ValidationMessageFor(model => model.STATUS_AKTIF, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a button type="button" class="fa fa-arrow-circle-o-left" @Html.ActionLink(" ", "Index")
</div>